@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Acá tengo los estilos del header */

header {
    display: flex;
    height: 55px;
    gap: 915px;
    background: #440202;
    padding: 10px 30px;  /* El  primero va de arriba - abajo y el segundo de izquierda - derecha */
}

#logo {
    width: 50px; /* Ancho del logo*/
}

#logo img {
    border-radius: 100%;
    border: 1px solid #ff0202;  
    width: 100%;
}

#botones-header {
    display: flex;
}


.crear-cuenta {
    background-color: #b91817;
    color: rgb(255, 255, 255);
    padding: 5px 25px;
    text-decoration: none;
    border-radius: 0.625rem;
    font-weight: bold;
    margin-right: 8px;
}

.crear-cuenta:hover {
    background-color: #b917178b;
    font-weight: lighter;
}

.iniciar-sesion {
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    text-decoration: none;
    font-weight: bold;
}

.iniciar-sesion:hover {
    font-weight: lighter;
}

/* Acá estan los estilos del hero */

#hero {
    position : relative;
}

#hero #Fondo {
    display: inline-block;
    width: 100%;
}

#hero #Fondo #bg-video{
    max-width: 100%;
    width: 100%;
}

#hero h1{
    font-weight: normal;
}


#hero .informacion-contenedor {
    box-sizing: border-box;
    position: absolute; /* Despegarse del formato del html, busca donde esta el relative y desde ahi lo pega */
    top: 50%; 
    transform: translateY(-50%);
    left: 0;
    display: flex; /* Tecnica de alineacion */
    width: 100%;
    padding: 0 50px;
}

#hero .informacion-contenedor #video-inicio {
    width: 400px;
}

#hero .informacion-contenedor #video-inicio #video-i {
    border: 2px solid #ffffff;
    border-radius: 8%;
    object-fit: cover;
    width: 100%;
}

#hero .informacion-contenedor .informacion {
    margin-left: 20px; 
    padding: 10px;
    border-radius: 0.625rem;
    font-weight: bold;
    width: calc(100% - 200px);
    background-color: #ffffff4d;
}

.informacion h1{
    font-family: 'Rancho', cursive;
    font-size: 52px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(44, 32, 32);
}

.informacion p {
    font-style: oblique;
    font-size: 20px;
    color: #440202;
}

#hero .abrir-fapot {
    background-color: #b91817;
    color: rgb(255, 255, 255);
    padding: 1px 25px;
    text-decoration: none;
    border-radius: 0.625rem;
    font-weight: bold;
}

/* Acá estan los estilos del main*/

main {
    height: 1500px;
    padding: 100px;
}


/* Acá estan los estilos del footer*/
footer{
    padding: 100px 20px;
    background-color: #440202;
}
footer .iconos-redes-sociales {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer .iconos-redes-sociales li {
    margin-left: 8px;
}

footer .iconos-redes-sociales .icono-red-social {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

footer .iconos-redes-sociales #LinkedIn {
    background: #0077b0;
}

footer .iconos-redes-sociales #GitHub {
    background: #23272d;
}

footer .iconos-redes-sociales #Twitter {
    background: #00acee;
}

footer .iconos-redes-sociales #YouTube {
    background: #f70000;
}

footer .iconos-redes-sociales #Platzi {
    background: #121f3d;
}

@media (max-width: 450px){

    /* Estilos header */
    header {
        display: flex;
        height: 55px;
        gap: 200px;
        background: #440202;
        padding: 10px 10px;  /* El  primero va de arriba - abajo y el segundo de izquierda - derecha */
    }
    
    #logo {
        width: 50px; /* Ancho del logo*/
    }
    
    #logo img {
        border-radius: 100%;
        border: 1px solid #ff0202;  
        width: 200%;
    }
    
    #botones-header {
        display: flex;
    }
    
    
    .crear-cuenta {
        font-size: 14px;
        background-color: #b91817;
        color: rgb(255, 255, 255);
        padding: 5px 25px;
        text-decoration: none;
        border-radius: 0.625rem;
        font-weight: bold;
        margin-right: 8px;
    }
    
    .iniciar-sesion {
        color: rgb(255, 255, 255);
        padding: 0px 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
    }

/* Acá estan los estilos del hero */

#hero .informacion-contenedor {
    position: static;
    transform: translateY(-120%);
    display: flex;
    width: 100%;
    padding: 0px 20px;
}

#hero .informacion-contenedor #video-inicio {
    width: 200px;
}


#hero .informacion-contenedor .informacion {
    margin-left: 20px; 
    padding: 10px;
    width: calc(100% - 200px);
}

.informacion h1{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.informacion p {
    font-size: 12px;
}

#hero .abrir-fapot {
    padding: 2px 25px;
}
}